{% include "header.html" %}

        <!-- Page Header-->
<!--        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">-->
        <header class="masthead" style="background-image: url('./static/images/home-img.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Giacconi Dev's portfolio</h1>
                            <span class="subheading">Welcome!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <div class="row">
                        <div class="col-md-4">
                            <p>Languages:</p>
                            <p><span>JS: Advanced</span></p>
                            <p><span>Java: Expert</span></p>
                            <p><span>Typescript: Intermediate</span></p>
                            <p><span>JS: Advanced</span></p>
                            <p><span>JS: Advanced</span></p>
                        </div>

                        <div class="offset-4 col-md-4">
                            <p>Projects involved:</p>
                            <p><span>Project 1</span></p>
                            <p><span>Project 2</span></p>
                            <p><span>Project 3</span></p>
                            <p><span>Project 4</span></p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

{% include "footer.html" %}